@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i class="fas fa-heading"></i></li>
                    <li style="margin-left:10px"><h1 class="m-0 text-dark"> Headings</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row">
    <section class="col-lg-12">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-list mr-1"></i>
                    Heading List
                </h3>
                <div class="card-tools">
                    <a href="/Heading/addHeading" class="btn btn-outline-success" style="margin-right:15px">New Heading</a>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" style="margin-right:15px">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body p-0">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-borderless table-hover dataTable dtr-inline projects" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 1%" class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="#: activate to sort column descending" aria-sort="ascending">#</th>
                                        <th style="width: 27%" class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Heading: activate to sort column ascending">Heading</th>
                                        <th style="width: 20%" class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Writer: activate to sort column ascending" style="">Writer</th>
                                        <th style="width: 20%" class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="">Category</th>
                                        <th style="width: 12%" class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="">Status</th>
                                        <th style="width: 20%" class="sorting text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Transiction: activate to sort column ascending" style="">Transiction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if ((Model.IndexOf(item)) % 2 == 0)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1" tabindex="0"> @item.HeadingID</td>
                                                <td class="">
                                                    <a>
                                                        @item.HeadingName
                                                    </a>
                                                    <br />
                                                    <small>
                                                        Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))

                                                    </small>
                                                </td>
                                                <td style="">
                                                    @if (item.Writer.WriterImage != null)
                                                    {
                                                        <img style="height:40px;width:40px;" alt="Avatar" class="table-avatar" src=" @item.Writer.WriterImage"> @item.Writer.WriterName @item.Writer.WriterSurname
                                                    }
                                                    @if (item.Writer.WriterImage == null || item.Writer.WriterImage == "")
                                                    {
                                                        <img style="height:40px;width:40px;" alt="Avatar" class="table-avatar" src="~/Resources/defaultperson.png"> @item.Writer.WriterName @item.Writer.WriterSurname
                                                    }
                                                </td>
                                                <td style="">
                                                    @item.Category.CategoryName
                                                </td>
                                                <td style="" class="project-state">
                                                    @if (@item.HeadingRemove == true)
                                                    {
                                                        <span class="badge badge-danger">Removed</span>
                                                    }
                                                    @if (@item.HeadingRemove == false)
                                                    {
                                                        <span class="badge badge-success">Active</span>
                                                    }
                                                </td>
                                                <td style="" class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                                        <i class="fas fa-paint-roller">
                                                        </i>
                                                        Contents
                                                    </a>
                                                    <a class="btn btn-info btn-sm" href="/Heading/updateHeading/@item.HeadingID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    @if (@item.HeadingRemove == true)
                                                    {
                                                        <a class="btn btn-success btn-sm" href="/Heading/Delete/@item.HeadingID">
                                                            <i class="fas fa-recycle">
                                                            </i>
                                                            Active
                                                        </a>
                                                    }
                                                    @if (@item.HeadingRemove == false)
                                                    {
                                                        <a class="btn btn-danger btn-sm" href="/Heading/Delete/@item.HeadingID">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Delete
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr role="row" class="even">
                                                <td class="sorting_1" tabindex="0"> @item.HeadingID</td>
                                                <td class="">
                                                    <a>
                                                        @item.HeadingName
                                                    </a>
                                                    <br />
                                                    <small>
                                                        Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))
                                                    </small>
                                                </td>
                                                <td style="">
                                                    @if (item.Writer.WriterImage != null)
                                                    {
                                                        <img style="height:40px;width:40px;" alt="Avatar" class="table-avatar" src=" @item.Writer.WriterImage"> @item.Writer.WriterName @item.Writer.WriterSurname
                                                    }
                                                    @if (item.Writer.WriterImage == null || item.Writer.WriterImage == "")
                                                    {
                                                        <img style="height:40px;width:40px;" alt="Avatar" class="table-avatar" src="~/Resources/defaultperson.png"> @item.Writer.WriterName @item.Writer.WriterSurname
                                                    }
                                                </td>
                                                <td style="">
                                                    @item.Category.CategoryName
                                                </td>
                                                <td style="" class="project-state">
                                                    @if (@item.HeadingRemove == true)
                                                    {
                                                        <span class="badge badge-danger">Removed</span>
                                                    }
                                                    @if (@item.HeadingRemove == false)
                                                    {
                                                        <span class="badge badge-success">Active</span>
                                                    }
                                                </td>
                                                <td style="" class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                                        <i class="fas fa-paint-roller">
                                                        </i>
                                                        Contents
                                                    </a>
                                                    <a class="btn btn-info btn-sm" href="/Heading/updateHeading/@item.HeadingID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    @if (@item.HeadingRemove == true)
                                                    {
                                                        <a class="btn btn-success btn-sm" href="/Heading/Delete/@item.HeadingID">
                                                            <i class="fas fa-recycle">
                                                            </i>
                                                            Active
                                                        </a>
                                                    }
                                                    @if (@item.HeadingRemove == false)
                                                    {
                                                        <a class="btn btn-danger btn-sm" href="/Heading/Delete/@item.HeadingID">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Delete
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <!-- DataTables -->
    <script src="~/AdminLTE-3.0.4/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}


