@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "updateHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i class="fas fa-heading"></i></li>
                    <li style="margin-left:10px"><h1 class="m-0 text-dark"> Headings</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row">
    <section class="col-lg-6" style="position: relative; margin: auto;">
        <div class="card bg-gradient-indigo">
            <div class="card-header border-0">
                <h3 class="card-title">
                    <i class="fas fa-edit mr-1"></i>
                    Update Heading
                </h3>
                <div class="card-tools">
                    <a href="/Heading/Index" class="btn bg-indigo btn-sm">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("updateHeading", "Heading", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Heading Name")
                        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Category")
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.ctglist, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @style = "color:orange" })
                        <br />
                        @Html.HiddenFor(x => x.HeadingID)
                        @Html.HiddenFor(x => x.HeadingDate)
                        @Html.HiddenFor(x => x.WriterID)
                        <button class="btn btn-outline-light" style="margin-top:10px">Save Changes</button>
                    </div>
                }
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>



