@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "addWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i class="fas fa-pen"></i></li>
                    <li style="margin-left:10px"><h1 class="m-0 text-dark"> Writers</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row">
    <section class="col-lg-6" style="position: relative; margin: auto;">
        <div class="card bg-gradient-indigo">
            <div class="card-header border-0">
                <h3 class="card-title">
                    <i class="fas fa-pen mr-1"></i>
                    Add New Writer
                </h3>
                <div class="card-tools">
                    <a href="/Writer/Index" class="btn bg-indigo btn-sm">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("addWriter", "Writer", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Writer Name")
                        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterName, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer Surname")
                        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer Title")
                        @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer Mail")
                        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterMail, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer Password")
                        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer About")
                        @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @style = "color:orange" })
                        <br />
                        @Html.Label("Writer Image")
                        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterImage, "", new { @style = "color:orange" })
                        <br />
                        <button class="btn btn-outline-light" style="margin-top:10px">Add Writer</button>
                    </div>
                }
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>
