@model EntityLayer.Concrete.Writer
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>WebDictionary | Home</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Recognize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <link rel="icon" type="image/x-icon" href="~/Resources/dictionaryLogo.png">
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Showcaseweb/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/AdminLTE-3.0.4/Showcaseweb/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/AdminLTE-3.0.4/Showcaseweb/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Showcaseweb/css/snow.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Showcaseweb/css/aos.css">
    <link href='~/AdminLTE-3.0.4/Showcaseweb/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Showcaseweb/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Showcaseweb/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <header class="index-banner" id="home">
        <!-- nav -->
        <nav class="main-header d-flex">
            <div id="brand">
                <div>
                    <a href="/ShowCase/Home">
                        <img src="~/Resources/dictionaryLogo.png" style="width:70px;height:70px;">
                    </a>
                </div>
                <div id="word-mark">
                    <h1>
                        <a href="/ShowCase/Home">WebDictionary</a>
                    </h1>
                </div>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="text-center nav-honey">
                    <li>
                        <a class="scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">Tech Stacks</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="scroll" href="#projects">Gallery</a>
                    </li>
                    <li>
                        <a id="gocontact" class="scroll" href="#contact">Contact</a>
                    </li>
                    @*<li class="login">
                        <a class="btn btn-primary" href="/Login/WriterLogin" target="_blank">LOGIN</a>
                    </li>
                    <li class="login">
                        <a class="btn btn-outline-light" data-toggle="modal" data-target="#insertmodal" href="#">
                            SIGN UP
                        </a>
                    </li>*@
                    <li>
                        <a class="btn btn-dark" href="/DictionaryPanel/Index" target="_blank"> <i class="fas fa-rocket"></i> Dictionary</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
        <!-- //nav -->
        <!-- banner -->
        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>
            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right">Kadir Aydemir</h6>
                <h5 data-aos="fade-right">Hello, welcome to Dictionary</h5>
                <h3 data-text="WEB DICTIONARY">WEB DICTIONARY</h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#services">About</a>
                    <a class="btn work scroll active" href="#contact">Here me</a>
                </div>

            </div>
        </div>
        <!-- //banner -->
    </header>
    <!-- //header -->
    <!--// banner-slider -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">

        @Html.Action("SkillPartial", "ShowCase")
       
    </section>
    <!--// ab -->
    <!-- /services -->
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h4 class="sub-tittle-w3 text-uppercase text-center">ABOUT</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">What i do</h3>
                <div class="price-right">
                    <div class="tabs">
                        <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Section 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Section 2</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-database mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Sql Database</h5>
                                                    <p class="card-text">I used MSSQL as database in my project, I worked on a server with windows hosting support while moving to the server.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-magic mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Design Tools</h5>
                                                    <p class="card-text">I developed the Front-end side of the project with Html5, CSS, Bootstrap, Javascript, Ajax, Jquery components.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-code mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Bootcamp</h5>
                                                    <p class="card-text">Within the scope of the 100-class MVC Project Camp, I made developments by adding my own comments every day.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-file-code mb-4"></i>
                                                    <h5 class="card-title">ASP.NET MVC5</h5>
                                                    <p class="card-text">I developed this project with .Net MVC Framework, which is one of the current development topics of the industry and is widely used.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-clone mb-4"></i>
                                                    <h5 class="card-title">N-Tier Architecture</h5>
                                                    <p class="card-text">I developed my project in 4 basic layers: Business Layer, Data Access Layer, Entity Layer and Presentation Layer.</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-lock mb-4"></i>
                                                    <h5 class="card-title">Solid Principles</h5>
                                                    <p class="card-text">I tried to write clean code in the correct format without breaking Solid principles as much as possible.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!--gallery  -->
    <section class="gallery py-md-5 py-3" id="projects">

        @Html.Action("ImagePartial", "ShowCase")
       
    </section>
    <!-- //gallery -->
    <!--/stats-->
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-th"></i>
                    <p class="counter">@ViewBag.category</p>
                    <h4>Number of Category</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <i class="fas fa-tag"></i>
                    <p class="counter">@ViewBag.heading</p>
                    <h4>Number of Heading</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-paint-brush"></i>
                    <p class="counter">@ViewBag.content</p>
                    <h4>Number of Entry</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">

                    <i class="far fa-user"></i>
                    <p class="counter">@ViewBag.writer</p>
                    <h4>Number of Writer</h4>

                </div>
            </div>
        </div>
    </section>
    <!--//stats-->
    <!-- /testimonials -->
    @Html.Action("AboutPartial", "ShowCase")
    <!-- //testimonials -->
    <!-- /Contact-->
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Find Me</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Contact Me Now</h3>

                @Html.Action("ContactPartial", "ShowCase")

                <div class="address row mt-lg-5">

                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Address</h6>
                                <p>
                                    Antalya, Turkey

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:kadiraydemir323@gmail.com"> kadiraydemir323@gmail.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Phone</h6>
                                <p>+90 554 983 4690</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->
    <!--/footer-->
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">
            <div class="row py-sm-4 py-3">
                <div class="col-lg-4 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#home" class="nav-link scroll">
                                Home
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                                Tech Stacks
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                                About
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link scroll">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="/DictionaryPanel/Index" target="_blank">
                            @*<i class="fas fa-crosshairs"></i>*@
                            <img src="~/Resources/dictionaryLogo.png" style="width:70px;height:70px;">
                            Dictionary
                        </a>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>
                        © 2023 WebDictionary. All rights reserved
                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="https://github.com/Kadir-Aydemir" target="_blank">
                                <i class="fab fa-github-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/kadir.aay" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://discord.com/users/517846710043541524" target="_blank">
                                <i class="fab fa-discord"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/kadir-aydemir/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.85977914574!2d30.690889511768376!3d36.91761687209797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38fdd977ac431%3A0x2b2aba32c10b42c5!2sMemorial%20Antalya%20Hastanesi!5e0!3m2!1str!2str!4v1681828328053!5m2!1str!2str" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <!--//footer-->
    <!--model-forms-->

    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/jquery-2.2.3.min.js"></script>
    <!-- banner-type-text -->
    <script src='~/AdminLTE-3.0.4/Showcaseweb/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!-- sticky nav bar-->
    <script>
        $(() => {

            //On Scroll Functionality
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });

            //Click Logo To Scroll To Top
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });

            //            //Smooth Scrolling Using Navigation Menu
            //            $('a[href*="#"]').on('click', function(e) {
            //                $('html,body').animate({
            //                    scrollTop: $($(this).attr('href')).offset().top - 100
            //                }, 500);
            //                e.preventDefault();
            //            });

            //Toggle Menu
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });

        });

    </script>
    <!-- //sticky nav bar -->
    <!-- Include jQuery Timeline Plugin -->
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/jquery.roadmap.js"></script>

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/AdminLTE-3.0.4/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
    <!-- simpleLightbox -->
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <!-- //simpleLightbox -->
    <!-- stats -->
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/jquery.waypoints.min.js"></script>
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!--/ start-smoth-scrolling -->
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/move-top.js"></script>
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->
    @if (ViewBag.result == "true")
    {
        <script>
            $(document).ready(function () {
                swal.fire("Error!", "An error occurred, the message could not send.", "error").then(() => {
                    location.href = '#contact';
                });
            });
        </script>
    }
    @if (ViewBag.send == "true")
    {
        <script>
            $(document).ready(function () {
                swal.fire("Success", "Your message has been sent to us successfully.", "success").then(() => {
                    ViewBag.send = "false";
                    location.reload();
                });
            });
        </script>
    }

    @if (ViewBag.alert == "true")
    {
        <script>
            $(document).ready(function () {
                $('#insertmodal').modal('show');
            });
        </script>
    }
    <script src="~/AdminLTE-3.0.4/Showcaseweb/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>

